@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    color: #666;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    color: #316DC3;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* heading style */
.text-after {
    color: #427900;
}

/*  heading icon */
.icon-box {
    position: relative;
    max-width: 40px;
    text-align: center;
    margin: 0 auto;
    top: -20px;
    transform: scale(1.3);
}

.icon-box::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 70%;
    left: 110%;
    background-color: #427900;
}

.icon-box::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 70%;
    right: 110%;
    background-color: #427900;
}

/*  Header Styling*/
header {
    position: relative;
    max-width: 100%;
    /* min-height: 150px; */
    /* height: 65px; */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: inherit;
}



/*  Navbar  */
.nav {
    position: -webkit-sticky;
    position: fixed;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    /* border: #00FF00 3px solid; */
}


.nav .img-logo {
    width: 200px;
    cursor: pointer;

}


.nav .nav-ele a {
    position: relative;
    color: #000;
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 20px;
    transition: all ease 0.3s;
    cursor: pointer;
}


.nav-ele a:hover {
    background-color: #316DC3;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 200px;

}

.nav-ele .arrow::after {
    position: absolute;
    top: calc(50% - 5px);
    right: 10px;
    width: 5px;
    height: 5px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
    content: "";
    transition: all 0.3s ease;
}

.nav-ele .arrow:hover::after {
    border-color: #fff;

}

.nav-ele .home {
    background-color: #316DC3;
    color: #fff !important;
    text-align: center;
    border: none;
    border-radius: 200px;
}



/* Fixed Background */

.background {
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Marquee  */

.marquee {
    position: relative;
    display: block;
    background-color: #316DC3;
    color: #fff;
    margin: 10px 10%;
}

/* Introduction Section */

.introduction {
    position: relative;
    display: block;
    margin: 5% 10%;
}

.introduction p {
    text-align: justify;
}


/* Query */
.query {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    background-color: #2655e8;
    color: #fff;
    text-align: center;
}

.query .query-box {
    margin: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}


.query .icon {
    max-width: 50px;
}

.query .stat {
    font-size: 3rem;
}

.query .month {
    color: #00FF00;
    font-size: 1.2rem;
}

/* Service Cards */


.service-cards .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: auto;

    grid-gap: 30px;
    margin: 30px 120px;
    text-align: center;
    justify-content: center;
}

.service-cards .card-img {
    background-color: #fff;
    color: #316DC3;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    cursor: pointer;
}

.service-cards img {
    max-width: 70px;
    height: auto;
}

/* Upcoming Events */



.event {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    margin: 30px 120px;
}



.event .event-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 0 30px;

}

.event .cards {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
}

.event h2 {
    position: relative;
    display: block;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

.event .right h2 {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    left: 10px;
    text-transform: capitalize;
}

.event h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #427900;
}


.event h3 {
    display: inline;
}

.event .cards img {
    position: relative;
    top: 5px;
    margin: 0 30px 0 0;
    justify-content: center;
}

.event .right .marquee {
    background-color: inherit;
    color: inherit;
}

/* Gallery */
.gallery {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 200px 10px;
    justify-content: center;
}

.gallery .img {
    position: relative;
}

.gallery img {
    margin: 2px;
    max-width: 240px;

    cursor: pointer;
    transition: all ease 0.3s;
}

.gallery img:hover {
    opacity: .1;
}


.gallery .img .box {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all ease 0.3s;
}

.gallery .box i {
    display: inline-block;
    background-color: #316DC3;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

.gallery .img:hover .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.gallery .box i:hover {
    opacity: 0.7;
}



/* Footer */

footer {
    background-color: #25272e;
    color: #bbb;
}


.footer {
    display: flex;
    flex-direction: row;
    /* background-color: #3; */
    /* flex-wrap: wrap; */
    padding: 20px 100px;

}

.footer .footer-area {
    /* border: red 3px solid */
    flex: 1;
    margin: 0 15px;
}

.footer h4 {
    color: #fff;
    text-transform: capitalize;
    text-align: left;
}

.footer .address {
    margin-top: 50px;


}

.footer .address i {
    color: #427900;
    margin-right: 10px;
}

.footer .links h4 {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 10px;
}

.footer .links h4:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #427900;
}


.footer .contact i {
    background-color: #316DC3;

}

.footer .contact li {
    display: inline-block;
    background-color: #316DC3;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
}

.footer .contact i:hover {
    opacity: 0.7;
}

footer .copy {
    display: block;
    background-color: #316DC3;
    color: #fff;
    font-size: 0.8rem;
    max-width: 100%;
    padding: 5px 100px;
}


@media screen and (max-width: 768px) {
    .nav {
        position: relative;
        display: block;
    }

    .nav .nav-ele a {
        display: block;
    }



    .event {
        grid-template-columns: 1fr;
        margin: 30px 50px;

    }

    .event .event-card {
        grid-template-columns: 1fr;
    }

    .gallery img {
        min-width: 320px;
    }

    .footer {
        display: block;
        font-size: 0.9rem;
        padding: 10px;
    }

}